.widget {
  h4 {
    font-weight: 500;
  }
}

.moduleWidget {
  :global(.cds--accordion__content) {
    padding-right: 0 !important;
  }

  .moduleWidgetAddControls {
    z-index: 2;
    position: relative;
    display: flex;
  }

  :global(.cds--contained-list) {
    margin-top: calc(-3rem + 20px);
  }
}

.announcementWidget,
.locationWidget,
.richTextWidget {
  display: grid;
  grid-gap: 0.5rem;

  .announcementWidgetTitle {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

:global(.cds--inline-notification) {
  max-width: unset;
}

.expiredAnnouncementWidgetPlaceholder {
  position: absolute;
  display: none;
  pointer-events: none;
  user-select: none;
}

.socialWidget {
  display: grid;
  grid-gap: 0.5rem;

  .socialWidgetTitle {
    display: flex;
    gap: 1rem;
    align-items: center;

    span {
      height: 24px;
      width: 24px;
      background: var(--cds-text-primary);
    }
  }
}

.richTextWidget {
  :global(.wmde-markdown),
  :global(.wmde-markdown-var) {
    --color-fg-default: var(--cds-text-primary);
    --color-canvas-default: var(--cds-layer);
    --color-fg-muted: var(--cds-text-secondary);
    --color-fg-subtle: var(--cds-text-disabled);
    --color-canvas-subtle: var(--cds-layer-01);
    --color-border-default: var(--cds-border-interactive);
    --color-border-muted: var(--cds-border-subtle);
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-accent-fg: var(--cds-brand-60);
    --color-accent-emphasis: var(--cds-brand-70);
    --color-attention-subtle: var(--cds-support-caution-minor);
    --color-danger-fg: var(--cds-button-danger-secondary);
  }

  ol, ul {
    list-style: unset;
  }

}

.locationWidget {
  :global(.leaflet-container) {
    width: calc(100% + 2rem);
    height: 400px;
    transform: translate(-1rem, -1rem);
  }
}