.widget {
  h4 {
    font-weight: 500;
  }
}

.moduleWidget {
  :global(.cds--accordion__content) {
    padding-right: 0 !important;
  }

  .moduleWidgetAddControls {
    z-index: 2;
    position: relative;
    display: flex;
  }

  :global(.cds--contained-list) {
    margin-top: calc(-3rem + 20px);
  }
}

.announcementWidget {
  display: grid;
  grid-gap: 0.5rem;

  .announcementWidgetTitle {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

:global(.cds--inline-notification) {
  max-width: unset;
}

.expiredAnnouncementWidgetPlaceholder {
  position: absolute;
  display: none;
  pointer-events: none;
  user-select: none;
}

.socialWidget {
  display: grid;
  grid-gap: 0.5rem;

  .socialWidgetTitle {
    display: flex;
    gap: 1rem;
    align-items: center;

    span {
      height: 24px;
      width: 24px;
      background: var(--cds-text-primary);
    }
  }
}