.container {
  display: grid;
  height: calc(100vh - 3rem);
  width: 100vw;
  overflow-x: hidden;
  padding: 1rem;
  grid-template-rows: auto 1fr;
  grid-gap: 1rem;

  main {
    width: min(900px, 100%);
    justify-self: center;
    ul {
      display: grid;
      grid-auto-rows: min-content;
    }
  }

  .searchResult {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "img name btn";
    align-items: center;
    grid-gap: 1rem;
    border-bottom: 1px solid var(--cds-border-subtle);

    .iconimage {
      width: 100px;
      height: 100px;
      margin: 1rem 0;
      grid-area: img;
    }

    h4 {
      grid-area: name;
    }

    button {
      grid-area: btn;
    }
  }
}

@media only screen and (max-width: 650px) {
  .container {
    .searchResult {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "img name"
        "img btn";
      align-items: center;
      grid-gap: 1rem;

      h4 {
        align-self: flex-end;
      }

      button {
        align-self: flex-start;
      }
    }
  }
}



