.connectTitle {
  text-align: left;
  padding-left: 35px;
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 30px;
  font-size: 30px;
}
.img {
  width: 150px;
  height: 150px;
  margin-left: 120px;
  margin-bottom: 20px;
}
.btn4 {
  color: #000000;
  float: right;
  text-align: center;
  margin-right: 30px;
  margin-top: 7px;
  font-size: 28px;
}
.wrapper {
  display: grid;
  grid-template-columns: 460px 700px 1fr;
  align-items: center;
  row-gap: 150px;
}
